<h1>Create a new article</h1>


<% if @article.errors.any? %>
    <h1>The following error prevented the article from being saved</h1>
    <% @article.errors.full_messages.each do | msg | %>
        <p><%= msg %></p>
    <%end %>
<% end %>



<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
