<%= form_with(model: session) do |form| %>
  <% if session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
      <%= form.label :username, "Username", class: "form-label" %>
      <%= form.text_field :username, type: "email", class: "form-control", id: "exampleInputEmail1", aria: { describedby: "emailHelp" } %>
      <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
    </div>
    <div class="mb-3">
      <%= form.label :password, "Password", class:"form-label" %>
      <%= form.text_field :password, type:"password", class:"form-control", id:"exampleInputPassword1" %>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>
